
body
    form(method="POST", action="/new")
        input(type="text", name="messageText", placeholder="Comment")
        input(type="text", name="messageUser", placeholder="Name")
        input(type="submit", value="Submit")
